<p id="notice"><%= notice %></p>

<p>
  <strong>Arena name:</strong>
  <%= @arena.arena_name %>
</p>

<p>
  <strong>Arena description:</strong>
  <%= @arena.arena_description %>
</p>

<%= link_to "Launch a fight", new_combat_path %> 
